# Install and import libraries

In [ ]:
!pip install -q -U bitsandbytes
!pip install -q -U git+https://github.com/huggingface/transformers.git
!pip install -q -U git+https://github.com/huggingface/peft.git
!pip install -q -U git+https://github.coma/huggingface/accelerate.git
!pip install -q datasets

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 119.8/119.8 MB 5.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.3/21.3 MB 73.5 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
  Building wheel for transformers (pyproject.toml) ... done
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.6/302.6 kB 6.3 MB/s eta 0:00:00
  Building wheel for peft (pyproject.toml) ... done
  error: subprocess-exited-with-error

  × git clone --filter=blob:none --quiet https://github.coma/huggingface/accelerate.git /tmp/pip-req-build-75b9a8jm did not run successfully.
  │ exit code: 128
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× git clone --filter=blob:none --quiet https://github.coma/huggingface/accelerate.git /tmp/pip-req-build-75b9a8jm did not run successfully.
│ exit code: 128
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 542.0/542.0 kB 8.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 13.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.1/194.1 kB 10.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 9.1 MB/s eta 0:00:00

In [ ]:
import pandas as pd
from datasets import load_dataset, load_metric
from transformers import AutoTokenizer
from peft import get_peft_config, get_peft_model, LoraConfig, TaskType
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from transformers import DataCollatorForSeq2Seq
from transformers import Seq2SeqTrainingArguments, Seq2SeqTrainer

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Load and examine the data

Data description: https://github.com/salesforce/WikiSQL

In [ ]:
dataset = load_dataset("wikisql", trust_remote_code=True)
dataset

Downloading builder script:   0%|          | 0.00/6.57k [00:00<?, ?B/s]

Downloading readme:   0%|          | 0.00/7.80k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/26.2M [00:00<?, ?B/s]

Generating test split:   0%|          | 0/15878 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/8421 [00:00<?, ? examples/s]

Generating train split:   0%|          | 0/56355 [00:00<?, ? examples/s]

DatasetDict({
    test: Dataset({
        features: ['phase', 'question', 'table', 'sql'],
        num_rows: 15878
    })
    validation: Dataset({
        features: ['phase', 'question', 'table', 'sql'],
        num_rows: 8421
    })
    train: Dataset({
        features: ['phase', 'question', 'table', 'sql'],
        num_rows: 56355
    })
})

The 'wikisql' dataset has been split into 'train', 'validation', and 'test' dataset.

In [ ]:
# data structure
example = dataset["train"][0]
example

{'phase': 1,
 'question': 'Tell me what the notes are for South Australia ',
 'table': {'header': ['State/territory',
   'Text/background colour',
   'Format',
   'Current slogan',
   'Current series',
   'Notes'],
  'page_title': '',
  'page_id': '',
  'types': ['text', 'text', 'text', 'text', 'text', 'text'],
  'id': '1-1000181-1',
  'section_title': '',
  'caption': '',
  'rows': [['Australian Capital Territory',
    'blue/white',
    'Yaa·nna',
    'ACT · CELEBRATION OF A CENTURY 2013',
    'YIL·00A',
    'Slogan screenprinted on plate'],
   ['New South Wales',
    'black/yellow',
    'aa·nn·aa',
    'NEW SOUTH WALES',
    'BX·99·HI',
    'No slogan on current series'],
   ['New South Wales',
    'black/white',
    'aaa·nna',
    'NSW',
    'CPX·12A',
    'Optional white slimline series'],
   ['Northern Territory',
    'ochre/white',
    'Ca·nn·aa',
    'NT · OUTBACK AUSTRALIA',
    'CB·06·ZZ',
    'New series began in June 2011'],
   ['Queensland',
    'maroon/white',
    'nnn·aaa',
    'QUEENSLAND · SUNSHINE STATE',
    '999·TLG',
    'Slogan embossed on plate'],
   ['South Australia',
    'black/white',
    'Snnn·aaa',
    'SOUTH AUSTRALIA',
    'S000·AZD',
    'No slogan on current series'],
   ['Victoria',
    'blue/white',
    'aaa·nnn',
    'VICTORIA - THE PLACE TO BE',
    'ZZZ·562',
    'Current series will be exhausted this year']],
  'name': 'table_1000181_1'},
 'sql': {'human_readable': 'SELECT Notes FROM table WHERE Current slogan = SOUTH AUSTRALIA',
  'sel': 5,
  'agg': 0,
  'conds': {'column_index': [3],
   'operator_index': [0],
   'condition': ['SOUTH AUSTRALIA']}}}

By examining the data structure, we may use 'question', 'table(header, rows, caption)' as model input, and 'sql(headable)' as the label.

# Preprocess

In [ ]:
model_name = "google-t5/t5-small"
# instantiate tokenizer of google t5
tokenizer = AutoTokenizer.from_pretrained(model_name)

# test the functionality of the tokenizer
tokenized_example = tokenizer(example['question'])

for key in tokenized_example:
    print(key)
    print(tokenized_example[key])

input_ids
[8779, 140, 125, 8, 3358, 33, 21, 1013, 2051, 1]
attention_mask
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
# define a func to preprocess the data
def preprocess_function(examples):
    # Combine question and table information into a single input string
    inputs = []
    for question, table in zip(examples['question'], examples['table']):
        table_str = " | ".join([f"{header} ({type})" for header, type in zip(table['header'], table['types'])])
        input_str = f"Convert the Question to SQL: {question}, based on the table: {table_str}"
        inputs.append(input_str)

    targets = [sql['human_readable'] for sql in examples['sql']]

    return inputs, targets

# test the functionality of preprocess_function
input, target = preprocess_function(dataset['train'])
print(input[0])
print(target[0])

Convert the Question to SQL: Tell me what the notes are for South Australia , based on the table: State/territory (text) | Text/background colour (text) | Format (text) | Current slogan (text) | Current series (text) | Notes (text)
SELECT Notes FROM table WHERE Current slogan = SOUTH AUSTRALIA

In [ ]:
# finding the max length for tokenization
tokenizer.model_max_length

512

In [ ]:
# instantiate tokenizer
tokenizer = AutoTokenizer.from_pretrained(model_name)

# define a func to preprocess the data and tokenize
def preprocess_function(examples):
    # Combine question and table information into a single input string
    inputs = []
    for question, table in zip(examples['question'], examples['table']):
        table_str = " | ".join([f"{header} ({type})" for header, type in zip(table['header'], table['types'])])
        input_str = f"Convert the Question to SQL: {question}, based on the table: {table_str}"
        inputs.append(input_str)

    targets = [sql['human_readable'] for sql in examples['sql']]

    model_inputs = tokenizer(inputs, padding='max_length', max_length=512, truncation=True, return_tensors='pt')
    labels = tokenizer(targets, padding='max_length', max_length=128, truncation=True, return_tensors='pt')

    model_inputs["labels"] = labels["input_ids"]
    return model_inputs

# preprocess the data and tokenize
train_set = dataset['train'].map(preprocess_function, batched=True, remove_columns=dataset['train'].column_names)
validation_set = dataset['validation'].map(preprocess_function, batched=True, remove_columns=dataset['validation'].column_names)
test_set = dataset['test'].map(preprocess_function, batched=True, remove_columns=dataset['test'].column_names)

Map:   0%|          | 0/56355 [00:00<?, ? examples/s]

Map:   0%|          | 0/8421 [00:00<?, ? examples/s]

Map:   0%|          | 0/15878 [00:00<?, ? examples/s]

# Load Google T5 and determine the baseline

The pre-trained model I choose is T5-small version (about 6 million parameters) of Google's T5. Google's T5, short for 'Text-To-Text-Transfer-Transformer', is a pre-trained models based on the Transformer architecture developed by the Google Research Team.

I first evaluate the model without fine-tuning to determine the baseline

Evaluating the generated query quality needs a lot of engineering. Ideally, the quality should be evaluated using execution accuracy by executing the generated queries in actual database or logical form accuracy by calculating how many generated queries are exactly the same as actual queries as illustrated in https://github.com/salesforce/WikiSQL?tab=readme-ov-file


My objective is to analyze the application and potential risks of text-to-SQL LLM in business scenarios, so for simplicity I used BLEU (Bilingual Evaluation Understudy) as the metric, which measures the  n-gram overlap between generated queries and actual queries. However, a single natural language query may correspond to multiple equivalent queries. For example, the order of fields and tables may differ while maintaining the same semantics. The BLEU metric may score these equivalent SQL queries lower because it only considers surface form matching.

In [ ]:
# Load the BLEU metric
bleu_metric = load_metric("bleu")

def compute_metrics(pred):
    # Retrive predicted tokens
    labels_ids = pred.label_ids
    pred_ids = pred.predictions

    # Decode the tokens and convert to text
    pred_str = tokenizer.batch_decode(pred_ids, skip_special_tokens=True)
    labels_ids[labels_ids == -100] = tokenizer.pad_token_id
    label_str = tokenizer.batch_decode(labels_ids, skip_special_tokens=True)

    # Compute BLEU score
    bleu = bleu_metric.compute(predictions=[p.split() for p in pred_str], references=[[l.split()] for l in label_str])

    return {"bleu": bleu["bleu"]}

Downloading builder script:   0%|          | 0.00/2.48k [00:00<?, ?B/s]

Downloading extra modules:   0%|          | 0.00/1.55k [00:00<?, ?B/s]

In [ ]:
data_collator = DataCollatorForSeq2Seq(tokenizer=tokenizer, model=model_name, padding=True, return_tensors='pt')

DataCollatorForSeq2Seq dynamically pads the sentences to the longest length in a batch during collation, instead of padding the whole dataset to the maximum length.

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from datasets import load_metric

model_name = "google-t5/t5-small"
# instantiate tokenizer
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSeq2SeqLM.from_pretrained(model_name)

training_args = Seq2SeqTrainingArguments(
    output_dir="./baseline_results",
    per_device_eval_batch_size=16,
    predict_with_generate=True,
    fp16=True,
)

trainer = Seq2SeqTrainer(
    model=model,
    args=training_args,
    train_dataset=train_set,
    eval_dataset=test_set,
    tokenizer=tokenizer,
    data_collator=data_collator,
    compute_metrics=compute_metrics,
)

In [ ]:
trainer.evaluate()

{'eval_loss': 12.96939468383789,
 'eval_bleu': 0.014515387204036716,
 'eval_runtime': 536.6284,
 'eval_samples_per_second': 29.588,
 'eval_steps_per_second': 1.85}

In [ ]:
import pandas as pd

# Select some samples
sample_range = range(5)
test_examples = test_set.select(sample_range)

# Make predictions
pred = trainer.predict(test_examples)
# Retrive predicted tokens
pred_ids = pred.predictions

# Decode the prediction
pred_str = tokenizer.batch_decode(pred_ids, skip_special_tokens=True)

# Create a DataFrame
questions = [example['question'] for example in dataset['test'].select(sample_range)]
header = [example['table']['header'] for example in dataset['test'].select(sample_range)]
labels = [example['sql']['human_readable'] for example in dataset['test'].select(sample_range)]

df = pd.DataFrame({
    "Question": questions,
    "Header": header,
    "Prediction": pred_str,
    "Target": labels
})

# Show all columns & rows
pd.set_option('display.max_colwidth', None)
df.head()

,Question,Header,Prediction,Target
0,What is terrence ross' nationality,"[Player, No., Nationality, Position, Years in Toronto, School/Club Team]",": What is terrence ross' nationality, based on the table:",SELECT Nationality FROM table WHERE Player = Terrence Ross
1,What clu was in toronto 1995-96,"[Player, No., Nationality, Position, Years in Toronto, School/Club Team]",": What clu was in toronto 1995-96, based on the table",SELECT School/Club Team FROM table WHERE Years in Toronto = 1995-96
2,which club was in toronto 2003-06,"[Player, No., Nationality, Position, Years in Toronto, School/Club Team]",": which club was in toronto 2003-06, based on the table:",SELECT School/Club Team FROM table WHERE Years in Toronto = 2003-06
3,how many schools or teams had jalen rose,"[Player, No., Nationality, Position, Years in Toronto, School/Club Team]","SQL: how many schools or teams had jalen rose, according to table: Player",SELECT COUNT School/Club Team FROM table WHERE Player = Jalen Rose
4,Where was Assen held?,"[No, Date, Round, Circuit, Pole Position, Fastest Lap, Race winner, Report]","SQL: Where was Assen held?, based on the table: No (real",SELECT Round FROM table WHERE Circuit = Assen

Without fine-tuning, even when I explicitly ask the model to "Convert the Question to SQL: {question}, based on the table: {table_str}", T5 outputs hallucinations rather than SQL queries. This may because the training data of T5 did not include tabular question answering using SQL.

# Add LoRA Adapter

Now, I want to fine-tune the model so that it learns to generate SQL in its embeddings.

Fine-tuning the entire LLM is beyond the computational powers of a personal device. However, LoRA (Low-Rank Adaptation) significantly reduces the trainable parameters by decompsing some weight matrices in the pre-trained model into the product of 2 low-rank matrices. For instance, we know that in Transformer, each attention head contains three matrices: $W_Q$, $W_K$, and $W_V$, LoRA decomposes each of these matrices into two low-rank matrices such that $W_Q=A_QB_Q$ and updates only $A_Q$ and $B_Q$ during fine-tuning

In [ ]:
model = AutoModelForSeq2SeqLM.from_pretrained(model_name)

peft_config = LoraConfig(
    task_type=TaskType.SEQ_2_SEQ_LM,
    inference_mode=False,
    r=8,
    lora_alpha=32,
    lora_dropout=0.1,
)

model = get_peft_model(model, peft_config)
model.print_trainable_parameters()

trainable params: 294,912 || all params: 60,801,536 || trainable%: 0.4850

After applying LoRA, I only need to train less than half of the origin parameters, which is about 3 millions. Below shows the model struture, and we can verify that LoRA has been sucessfully added to the model.

In [ ]:
model

PeftModelForSeq2SeqLM(
  (base_model): LoraModel(
    (model): T5ForConditionalGeneration(
      (shared): Embedding(32128, 512)
      (encoder): T5Stack(
        (embed_tokens): Embedding(32128, 512)
        (block): ModuleList(
          (0): T5Block(
            (layer): ModuleList(
              (0): T5LayerSelfAttention(
                (SelfAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): Linear(in_features=512, out_features=512, bias=False)
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): Linear(in_features=512, out_features=512, bias=False)
                  (relative_attention_bias): Embedding(32, 8)
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (1): T5LayerFF(
                (DenseReluDense): T5DenseActDense(
                  (wi): Linear(in_features=512, out_features=2048, bias=False)
                  (wo): Linear(in_features=2048, out_features=512, bias=False)
                  (dropout): Dropout(p=0.1, inplace=False)
                  (act): ReLU()
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
          )
          (1-5): 5 x T5Block(
            (layer): ModuleList(
              (0): T5LayerSelfAttention(
                (SelfAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): Linear(in_features=512, out_features=512, bias=False)
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): Linear(in_features=512, out_features=512, bias=False)
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (1): T5LayerFF(
                (DenseReluDense): T5DenseActDense(
                  (wi): Linear(in_features=512, out_features=2048, bias=False)
                  (wo): Linear(in_features=2048, out_features=512, bias=False)
                  (dropout): Dropout(p=0.1, inplace=False)
                  (act): ReLU()
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
          )
        )
        (final_layer_norm): T5LayerNorm()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (decoder): T5Stack(
        (embed_tokens): Embedding(32128, 512)
        (block): ModuleList(
          (0): T5Block(
            (layer): ModuleList(
              (0): T5LayerSelfAttention(
                (SelfAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): Linear(in_features=512, out_features=512, bias=False)
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): Linear(in_features=512, out_features=512, bias=False)
                  (relative_attention_bias): Embedding(32, 8)
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (1): T5LayerCrossAttention(
                (EncDecAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): Linear(in_features=512, out_features=512, bias=False)
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): Linear(in_features=512, out_features=512, bias=False)
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (2): T5LayerFF(
                (DenseReluDense): T5DenseActDense(
                  (wi): Linear(in_features=512, out_features=2048, bias=False)
                  (wo): Linear(in_features=2048, out_features=512, bias=False)
                  (dropout): Dropout(p=0.1, inplace=False)
                  (act): ReLU()
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
          )
          (1-5): 5 x T5Block(
            (layer): ModuleList(
              (0): T5LayerSelfAttention(
                (SelfAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): Linear(in_features=512, out_features=512, bias=False)
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): Linear(in_features=512, out_features=512, bias=False)
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (1): T5LayerCrossAttention(
                (EncDecAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): Linear(in_features=512, out_features=512, bias=False)
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=512, out_features=512, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.1, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=512, out_features=8, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=8, out_features=512, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): Linear(in_features=512, out_features=512, bias=False)
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (2): T5LayerFF(
                (DenseReluDense): T5DenseActDense(
                  (wi): Linear(in_features=512, out_features=2048, bias=False)
                  (wo): Linear(in_features=2048, out_features=512, bias=False)
                  (dropout): Dropout(p=0.1, inplace=False)
                  (act): ReLU()
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
          )
        )
        (final_layer_norm): T5LayerNorm()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (lm_head): Linear(in_features=512, out_features=32128, bias=False)
    )
  )
)

# Fine-tune

In [ ]:
# hyperparameters in the training_args are cited from https://github.com/anyuanay/medium/blob/main/src/working_huggingface/Working_with_HuggingFace_ch3_Fine_Tuning_T5_Small_Text_Summarization_Model.ipynb
training_args = Seq2SeqTrainingArguments(
    output_dir="my_fine_tuned_t5_small_model",
    evaluation_strategy="epoch",
    learning_rate=2e-5,
    per_device_train_batch_size=16,
    per_device_eval_batch_size=16,
    weight_decay=0.01,
    save_total_limit=3,
    num_train_epochs=4,
    predict_with_generate=True,
    fp16=True,
)

trainer = Seq2SeqTrainer(
    model=model,
    args=training_args,
    train_dataset=train_set,
    eval_dataset=validation_set,
    tokenizer=tokenizer,
    data_collator=data_collator,
    compute_metrics=compute_metrics,
)

In [ ]:
trainer.train()

/usr/local/lib/python3.10/dist-packages/transformers/generation/utils.py:1201: UserWarning: Using the model-agnostic default `max_length` (=20) to control the generation length. We recommend setting `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/transformers/generation/utils.py:1201: UserWarning: Using the model-agnostic default `max_length` (=20) to control the generation length. We recommend setting `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/transformers/generation/utils.py:1201: UserWarning: Using the model-agnostic default `max_length` (=20) to control the generation length. We recommend setting `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/transformers/generation/utils.py:1201: UserWarning: Using the model-agnostic default `max_length` (=20) to control the generation length. We recommend setting `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(

TrainOutput(global_step=14092, training_loss=0.3852757130567912, metrics={'train_runtime': 6018.4652, 'train_samples_per_second': 37.455, 'train_steps_per_second': 2.341, 'total_flos': 3.071297256947712e+16, 'train_loss': 0.3852757130567912, 'epoch': 4.0})

 Both the training and validation loss steadily decrease during training, and in the last epoch, the training loss is slightly better than the validation loss, indicating a good fit. Moreover, the test loss is 0.0833 and the test BLEU is 0.5754, indicating a good generalization ability. Compared to the baseline loss (12.9694) and BLEU (0.0145), fine-tuned T5 is now significantly better at translating text into SQL queries.

In [ ]:
# mount gdrive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Save the model
model.save_pretrained("/content/drive/MyDrive/BA890/olaf_fine_tined_t5_small_model_0")
tokenizer.save_pretrained("/content/drive/MyDrive/BA890/olaf_fine_tined_t5_small_model_0")

('/content/drive/MyDrive/BA890/olaf_fine_tined_t5_small_model_0/tokenizer_config.json',
 '/content/drive/MyDrive/BA890/olaf_fine_tined_t5_small_model_0/special_tokens_map.json',
 '/content/drive/MyDrive/BA890/olaf_fine_tined_t5_small_model_0/spiece.model',
 '/content/drive/MyDrive/BA890/olaf_fine_tined_t5_small_model_0/added_tokens.json',
 '/content/drive/MyDrive/BA890/olaf_fine_tined_t5_small_model_0/tokenizer.json')

# Test

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from datasets import load_metric

# load fine-tuned model
model_path = '/content/drive/MyDrive/BA890/olaf_fine_tined_t5_small_model_0'
model = AutoModelForSeq2SeqLM.from_pretrained(model_path)
tokenizer = AutoTokenizer.from_pretrained(model_path)

training_args = Seq2SeqTrainingArguments(
    output_dir="./results",
    per_device_eval_batch_size=16,
    predict_with_generate=True,
    fp16=True,
)

trainer = Seq2SeqTrainer(
    model=model,
    args=training_args,
    train_dataset=train_set,
    eval_dataset=test_set,
    tokenizer=tokenizer,
    data_collator=data_collator,
    compute_metrics=compute_metrics,
)

In [ ]:
trainer.evaluate()

{'eval_loss': 0.08332476764917374,
 'eval_bleu': 0.5753848907963923,
 'eval_runtime': 615.0969,
 'eval_samples_per_second': 25.814,
 'eval_steps_per_second': 1.614}

the test loss is 0.0833 and the test BLEU is 0.5754, indicating a good generalization ability. Compared to the baseline loss (12.9694) and BLEU (0.0145), fine-tuned T5 is now significantly better at translating text into SQL queries. However,some common mistakes are made by the model as shown below:

In [ ]:
import pandas as pd

# Select some samples
sample_range = range(2000, 3000)
test_examples = test_set.select(sample_range)

# Make predictions
pred = trainer.predict(test_examples)
# Retrive predicted tokens
pred_ids = pred.predictions

# Decode the prediction
pred_str = tokenizer.batch_decode(pred_ids, skip_special_tokens=True)

# Create a DataFrame
questions = [example['question'] for example in dataset['test'].select(sample_range)]
header = [example['table']['header'] for example in dataset['test'].select(sample_range)]
labels = [example['sql']['human_readable'] for example in dataset['test'].select(sample_range)]

df = pd.DataFrame({
    "Question": questions,
    "Header": header,
    "Prediction": pred_str,
    "Target": labels
})

# Show all columns & rows
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
df.head(100)

,Question,Header,Prediction,Target
0,What is the black caribbean population when the other black population is 2243?,"[Rank, London Borough, Black African Population, Black Caribbean Population, Other Black Population, Total Black Population]",SELECT Black Caribbean Population FROM table WHERE Other Black Population = 2243,SELECT MAX Black Caribbean Population FROM table WHERE Other Black Population = 2243
1,What is the black caribbean population when the black African population is less than 10552.0?,"[Rank, London Borough, Black African Population, Black Caribbean Population, Other Black Population, Total Black Population]",SELECT Black Caribbean Population FROM table WHERE Black Caribbean Population = 10552.0,SELECT MIN Black Caribbean Population FROM table WHERE Black African Population < 10552.0
2,What time slot had an adult rating of 0.6?,"[Season, Timeslot, Season premiere, Season finale, TV season, Rank, U.S. viewers (in millions), Rating (adults 18–49)]",SELECT Time slot FROM table WHERE Rating = 0.6,SELECT Timeslot FROM table WHERE Rating (adults 18–49) = 0.6
3,What season finale date has 2.02 million u.s. Viewers?,"[Season, Timeslot, Season premiere, Season finale, TV season, Rank, U.S. viewers (in millions), Rating (adults 18–49)]",SELECT Season finale FROM table WHERE U.S. viewers = 2.02 million,SELECT Season finale FROM table WHERE U.S. viewers (in millions) = 2.02
4,How many million u.s. Viewers watched season 1?,"[Season, Timeslot, Season premiere, Season finale, TV season, Rank, U.S. viewers (in millions), Rating (adults 18–49)]",SELECT MIN U.S. viewers (in millions) FROM table WHERE,SELECT U.S. viewers (in millions) FROM table WHERE Season = 1
5,How many tv series had an adult rating of 1.2?,"[Season, Timeslot, Season premiere, Season finale, TV season, Rank, U.S. viewers (in millions), Rating (adults 18–49)]",SELECT MIN TV season FROM table WHERE Adult rating = 1.2,SELECT COUNT TV season FROM table WHERE Rating (adults 18–49) = 1.2
6,Where is the University that is also called Hawks?,"[Institution, Location, Founded, Affiliation, Enrollment, Year Joined, Nickname, Conference]",SELECT MIN University FROM table WHERE Affiliation = Hawks,SELECT Location FROM table WHERE Nickname = Hawks
7,Where is the University that is also called Owls?,"[Institution, Location, Founded, Affiliation, Enrollment, Year Joined, Nickname, Conference]",SELECT University FROM table WHERE Affiliation = Owls,SELECT Location FROM table WHERE Nickname = Owls
8,How many University founded in 1863?,"[Institution, Location, Founded, Affiliation, Enrollment, Year Joined, Nickname, Conference]",SELECT Founded FROM table WHERE Institution = 1863,SELECT COUNT Enrollment FROM table WHERE Founded = 1863
9,Where is the University that plays in the American Athletic Conference?,"[Institution, Location, Founded, Affiliation, Enrollment, Year Joined, Nickname, Conference]",SELECT Conference FROM table WHERE Institution = american athletic conference,SELECT Location FROM table WHERE Conference = American Athletic Conference
10,What is the affiliation of the University called Explorers?,"[Institution, Location, Founded, Affiliation, Enrollment, Year Joined, Nickname, Conference]",SELECT Affiliation FROM table WHERE Institution = Explorers,SELECT Affiliation FROM table WHERE Nickname = Explorers
11,What is the nickname of Drexel University?,"[Institution, Location, Founded, Affiliation, Enrollment, Year Joined, Nickname, Conference]",SELECT Nickname FROM table WHERE Institution = dexel university,SELECT Nickname FROM table WHERE Institution = Drexel University
12,What is the brand in Metro Manila?,"[Branding, Callsign, Frequency, Power (kW), Location]",SELECT Branding FROM table WHERE Location = metro Manila,SELECT Branding FROM table WHERE Location = Metro Manila
13,What is the brand in Cabanatuan?,"[Branding, Callsign, Frequency, Power (kW), Location]",SELECT Branding FROM table WHERE Location = Cabanatuan,SELECT Branding FROM table WHERE Location = Cabanatuan
14,What is the power at the cebu station?,"[Branding, Callsign, Frequency, Power (kW), Location]",SELECT Power (kW) FROM table WHERE Location = cebu station,SELECT Power (kW) FROM table WHERE Location = Cebu
15,What is the frequency of 101.5 News FM?,"[Branding, Callsign, Frequency, Power (kW), Location]",SELECT Frequency FROM table WHERE Location = 101.5 News FM,SELECT Frequency FROM table WHERE Branding = 101.5 News FM
16,Where is the frequency 102.3mhz and 5kw power?,"[Branding, Callsign, Frequency, Power (kW), Location]",SELECT Frequency FROM table WHERE Power (kW) = 102.3m,SELECT Location FROM table WHERE Power (kW) = 5kW AND Frequency = 102.3MHz
17,Where is the frequency 92.3mhz?,"[Branding, Callsign, Frequency, Power (kW), Location]",SELECT Frequency FROM table WHERE Frequency = 92.3mh,SELECT Location FROM table WHERE Frequency = 92.3MHz
18,What is the highest no.?,"[Pos, No, Driver, Constructor, Q1 order, Q1 time, Q1 pos, Q1+Q2 time]",SELECT COUNT No FROM table WHERE No = pos = pos AND,SELECT MAX No FROM table
19,What is the q1+q2 time in which q1 is 1:18.574?,"[Pos, No, Driver, Constructor, Q1 order, Q1 time, Q1 pos, Q1+Q2 time]",SELECT Q1+Q2 time FROM table WHERE q1 = 1:1,SELECT Q1+Q2 time FROM table WHERE Q1 time = 1:18.574
20,when q1 pos is 8 what is the q1+q2 time?,"[Pos, No, Driver, Constructor, Q1 order, Q1 time, Q1 pos, Q1+Q2 time]",SELECT Q1+Q2 time FROM table WHERE pos = 8,SELECT Q1+Q2 time FROM table WHERE Q1 pos = 8
21,"when the q1+q2 time was 2.34.736, what was the total pos number?","[Pos, No, Driver, Constructor, Q1 order, Q1 time, Q1 pos, Q1+Q2 time]",SELECT COUNT pos FROM table WHERE q1+q2 time,SELECT COUNT Pos FROM table WHERE Q1+Q2 time = 2.34.736
22,When the q1 time is 1:16.218 what is the highest q1 pos?,"[Pos, No, Driver, Constructor, Q1 order, Q1 time, Q1 pos, Q1+Q2 time]",SELECT COUNT Q1 pos FROM table WHERE No = 1:16.218,SELECT MAX Q1 pos FROM table WHERE Q1 time = 1:16.218
23,What is the smallest 8-car sets if 4-car sets is 47?,"[Fiscal year, 2-car sets, 4-car sets, 6-car sets, 8-car sets, Total vehicles]",SELECT MIN 4-car sets FROM table WHERE 4-car sets = 47,SELECT MIN 8-car sets FROM table WHERE 4-car sets = 47
24,What is the largest 6-car-sets for fiscal year 1968?,"[Fiscal year, 2-car sets, 4-car sets, 6-car sets, 8-car sets, Total vehicles]",SELECT MIN 6-car-sets FROM table WHERE Fiscal year = 1968,SELECT MAX 6-car sets FROM table WHERE Fiscal year = 1968
25,What is the lowest fiscal year if total vehicles is 490?,"[Fiscal year, 2-car sets, 4-car sets, 6-car sets, 8-car sets, Total vehicles]",SELECT MIN Fiscal year FROM table WHERE Total vehicles = 490,SELECT MIN Fiscal year FROM table WHERE Total vehicles = 490
26,Name the degree for otorhinolaryngology,"[Discipline, Degree/Diploma, Total Seats, Recognised Seats, Permitted Seats]",SELECT Degree/Diploma FROM table WHERE Total Seats = ot,SELECT Degree/Diploma FROM table WHERE Discipline = Otorhinolaryngology
27,Name the total seats for otorhinolaryngology,"[Discipline, Degree/Diploma, Total Seats, Recognised Seats, Permitted Seats]",SELECT Total Seats FROM table WHERE Permitted Seats = ot,SELECT Total Seats FROM table WHERE Discipline = Otorhinolaryngology
28,Name the recognised seats for pharmacology,"[Discipline, Degree/Diploma, Total Seats, Recognised Seats, Permitted Seats]",SELECT Recognised Seats FROM table WHERE Discipline = pharma,SELECT Recognised Seats FROM table WHERE Discipline = Pharmacology
29,Name the total number of seats for general surgery,"[Discipline, Degree/Diploma, Total Seats, Recognised Seats, Permitted Seats]",SELECT Total Seats FROM table WHERE General Surgery = surgery,SELECT COUNT Permitted Seats FROM table WHERE Discipline = General Surgery
30,Name the least recognised seats,"[Discipline, Degree/Diploma, Total Seats, Recognised Seats, Permitted Seats]",SELECT MIN Recognised Seats FROM table WHERE Discipline =,SELECT MIN Recognised Seats FROM table
31,How many nations do the FMS international team represent?,"[Name, Nation, Seasons, Championship Titles, Race Starts, Poles, Wins, Podiums, Fastest Laps]",SELECT Nation FROM table WHERE Name = FMS International Team,SELECT COUNT Nation FROM table WHERE Name = FMS International
32,What is the smallest number of fastest laps listed?,"[Name, Nation, Seasons, Championship Titles, Race Starts, Poles, Wins, Podiums, Fastest Laps]",SELECT Fastest Laps FROM table WHERE Name = fastest laps,SELECT MIN Fastest Laps FROM table
33,How many championship titles for LRS Formula / Laurent Rédon Motorsport?,"[Name, Nation, Seasons, Championship Titles, Race Starts, Poles, Wins, Podiums, Fastest Laps]",SELECT Championship Titles FROM table WHERE Nation = lRS Formula /,SELECT Championship Titles FROM table WHERE Name = LRS Formula / Laurent Rédon Motorsport
34,What's the version of AutoCAD Architectural Desktop 3?,"[Official name, Version, Release, Date of release, Comments]",SELECT Version FROM table WHERE Date of release = autoCAD Architectural Desktop 3,SELECT Version FROM table WHERE Official name = AutoCAD Architectural Desktop 3
35,In what season did the team get in the conference finals of the playoffs?,"[Year, Division, League, Regular Season, Playoffs, Open Cup]",SELECT Season FROM table WHERE Conference Finals = playoffs,SELECT Regular Season FROM table WHERE Playoffs = Conference Finals
36,What was the team's status in the USISL Pro League playoffs?,"[Year, Division, League, Regular Season, Playoffs, Open Cup]",SELECT MIN League FROM table WHERE League = americanial pro league,SELECT Playoffs FROM table WHERE League = USISL Pro League
37,"In what year did the team compete in the 2nd, Northeast season of the USL PDL League?","[Year, Division, League, Regular Season, Playoffs, Open Cup]","SELECT Year FROM table WHERE Division = 2nd, Northeast","SELECT Year FROM table WHERE League = USL PDL AND Regular Season = 2nd, Northeast"
38,"What did the team do in the Open Cup in the 2nd, Northeast season of the USISL D-3 Pro League?","[Year, Division, League, Regular Season, Playoffs, Open Cup]","SELECT MIN Open Cup FROM table WHERE Division = 2nd, Northeast","SELECT Open Cup FROM table WHERE League = USISL D-3 Pro League AND Regular Season = 2nd, Northeast"
39,In what year did the team compete in the USISL Pro League?,"[Year, Division, League, Regular Season, Playoffs, Open Cup]",SELECT Year FROM table WHERE League = americaniSL,SELECT Year FROM table WHERE League = USISL Pro League
40,"If %2001 is 0.1%, what is the minimum Arabs 2001 number?","[Province, Arabs 2001, % 2001, Arabs 2011, % 2011]",SELECT Arabs 2001 FROM table WHERE Arabs 2001 = 0.1%,SELECT MIN Arabs 2001 FROM table WHERE % 2001 = 0.1%
41,"If the province is Manitoba, what is the Arabs 2001 number?","[Province, Arabs 2001, % 2001, Arabs 2011, % 2011]",SELECT Arabs 2001 FROM table WHERE Province = Manitoba,SELECT MAX Arabs 2001 FROM table WHERE Province = Manitoba
42,What is the province amount if the % 2011 is 0.0%,"[Province, Arabs 2001, % 2001, Arabs 2011, % 2011]",SELECT Province FROM table WHERE % 2011 = 0.0%,SELECT COUNT Province FROM table WHERE % 2011 = 0.0%
43,"If the province is British Columbia, what is the Arabs 2001 total number?","[Province, Arabs 2001, % 2001, Arabs 2011, % 2011]",SELECT Arabs 2001 FROM table WHERE Province = British Columbia,SELECT COUNT Arabs 2001 FROM table WHERE Province = British Columbia
44,"If the province is Nunavut, what is the Arabs 2011 amount?","[Province, Arabs 2001, % 2001, Arabs 2011, % 2011]",SELECT Arabs 2011 FROM table WHERE Province = Nunavut,SELECT Arabs 2011 FROM table WHERE Province = Nunavut
45,"When did the tournament, in which the runner-up was Song-Hee Kim, happen","[No., Date, Tournament, Winning score, To par, Margin of victory, Runner(s)-up, Winners share ( $ )]",SELECT Tournament FROM table WHERE Winners share = song-hee Kim,SELECT Date FROM table WHERE Runner(s)-up = Song-Hee Kim
46,What was the amount of winners share (in $) in the game with a margin victory of 2 strokes?,"[No., Date, Tournament, Winning score, To par, Margin of victory, Runner(s)-up, Winners share ( $ )]",SELECT MIN Winners share FROM table WHERE Margin of victory = 2,SELECT Winners share ( $ ) FROM table WHERE Margin of victory = 2 strokes
47,What was the winning score in the Sybase Classic tournament?,"[No., Date, Tournament, Winning score, To par, Margin of victory, Runner(s)-up, Winners share ( $ )]",SELECT Winning score FROM table WHERE Tournament = sybase Classic,SELECT Winning score FROM table WHERE Tournament = Sybase Classic
48,"What was the winning score in the tournament, ending with Birdie Kim as a runner-up?","[No., Date, Tournament, Winning score, To par, Margin of victory, Runner(s)-up, Winners share ( $ )]",SELECT Winning score FROM table WHERE Winners share = birdie Kim,SELECT Winning score FROM table WHERE Runner(s)-up = Birdie Kim
49,How many Latin Americans were there in the Northwest Territories in 2011?,"[Province, Latin Americans 2001, % 2001, Latin Americans 2011, % 2011]",SELECT Latin Americans 2011 FROM table WHERE Province = the Northwest Territories,SELECT MIN Latin Americans 2011 FROM table WHERE Province = Northwest Territories
50,How many results of the count of Latin Americans in Yukon in 2001 are there?,"[Province, Latin Americans 2001, % 2001, Latin Americans 2011, % 2011]",SELECT COUNT Latin Americans 2001 FROM table WHERE Latin Americans 2001 = Yukon,SELECT COUNT Latin Americans 2001 FROM table WHERE Province = Yukon
51,What's the percentage in 2001 in Manitoba where the percentage in 2011 is 0.8%?,"[Province, Latin Americans 2001, % 2001, Latin Americans 2011, % 2011]",SELECT % 2001 FROM table WHERE % 2011 = 0.8%,SELECT % 2001 FROM table WHERE % 2011 = 0.8% AND Province = Manitoba
52,What are the percentages in 2001 in all the provinces where the percentage in 2011 is 0.2%?,"[Province, Latin Americans 2001, % 2001, Latin Americans 2011, % 2011]",SELECT MIN % 2001 FROM table WHERE % 2011 = 0.2%,SELECT % 2001 FROM table WHERE % 2011 = 0.2%
53,How many Latin Americans were there in 2001 in the province with 0.0% 2001 and 0.2% 2011?,"[Province, Latin Americans 2001, % 2001, Latin Americans 2011, % 2011]",SELECT Latin Americans 2001 FROM table WHERE Province = 2001 = 0.0% 2001 AND,SELECT MAX Latin Americans 2001 FROM table WHERE % 2001 = 0.0% AND % 2011 = 0.2%
54,How many Latin Americans lived in 2011 in Saskatchewan?,"[Province, Latin Americans 2001, % 2001, Latin Americans 2011, % 2011]",SELECT Latin Americans 2011 FROM table WHERE Province = saskatche,SELECT MIN Latin Americans 2011 FROM table WHERE Province = Saskatchewan
55,"How many different index numbers are there for an ozone, running 8 hourly mean of 66-99?","[Index, Ozone, Running 8 hourly mean (μg/m 3 ), Nitrogen Dioxide, Hourly mean (μg/m 3 ), Sulphur Dioxide, 15 minute mean (μg/m 3 ), PM10 Particles, 24 hour mean (μg/m 3 ), PM2.5 Particles, 24 hour mean (μg/m 3 )]","SELECT Index FROM table WHERE Ozone, Running 8 hourly mean =","SELECT COUNT Index FROM table WHERE Ozone, Running 8 hourly mean (μg/m 3 ) = 66-99"
56,What's the count of pm 10 particles when the pm 2.5 particles are at 59-66?,"[Index, Ozone, Running 8 hourly mean (μg/m 3 ), Nitrogen Dioxide, Hourly mean (μg/m 3 ), Sulphur Dioxide, 15 minute mean (μg/m 3 ), PM10 Particles, 24 hour mean (μg/m 3 ), PM2.5 Particles, 24 hour mean (μg/m 3 )]","SELECT COUNT PM10 Particles, 24 hour mean (g/m","SELECT PM10 Particles, 24 hour mean (μg/m 3 ) FROM table WHERE PM2.5 Particles, 24 hour mean (μg/m 3 ) = 59-66"
57,What's the number of pm10 particles when sulphur dioxide is at 266-354?,"[Index, Ozone, Running 8 hourly mean (μg/m 3 ), Nitrogen Dioxide, Hourly mean (μg/m 3 ), Sulphur Dioxide, 15 minute mean (μg/m 3 ), PM10 Particles, 24 hour mean (μg/m 3 ), PM2.5 Particles, 24 hour mean (μg/m 3 )]","SELECT COUNT PM10 Particles, 24 hour mean (g/m","SELECT PM10 Particles, 24 hour mean (μg/m 3 ) FROM table WHERE Sulphur Dioxide, 15 minute mean (μg/m 3 ) = 266-354"
58,What's the sulphur dioxide count when the ozone is at 121-140?,"[Index, Ozone, Running 8 hourly mean (μg/m 3 ), Nitrogen Dioxide, Hourly mean (μg/m 3 ), Sulphur Dioxide, 15 minute mean (μg/m 3 ), PM10 Particles, 24 hour mean (μg/m 3 ), PM2.5 Particles, 24 hour mean (μg/m 3 )]","SELECT COUNT Sulphur Dioxide FROM table WHERE Ozone,","SELECT Sulphur Dioxide, 15 minute mean (μg/m 3 ) FROM table WHERE Ozone, Running 8 hourly mean (μg/m 3 ) = 121-140"
59,What's the sulphur dioxide count when the nitrogen dioxide is 468-534?,"[Index, Ozone, Running 8 hourly mean (μg/m 3 ), Nitrogen Dioxide, Hourly mean (μg/m 3 ), Sulphur Dioxide, 15 minute mean (μg/m 3 ), PM10 Particles, 24 hour mean (μg/m 3 ), PM2.5 Particles, 24 hour mean (μg/m 3 )]",SELECT COUNT Sulphur Dioxide FROM table WHERE Nitrogen Di,"SELECT Sulphur Dioxide, 15 minute mean (μg/m 3 ) FROM table WHERE Nitrogen Dioxide, Hourly mean (μg/m 3 ) = 468-534"
60,What's the nitrogen dioxide count where the sulphur dioxide is at 0-88?,"[Index, Ozone, Running 8 hourly mean (μg/m 3 ), Nitrogen Dioxide, Hourly mean (μg/m 3 ), Sulphur Dioxide, 15 minute mean (μg/m 3 ), PM10 Particles, 24 hour mean (μg/m 3 ), PM2.5 Particles, 24 hour mean (μg/m 3 )]",SELECT Nitrogen Dioxide FROM table WHERE Sulphur Dioxide,"SELECT Nitrogen Dioxide, Hourly mean (μg/m 3 ) FROM table WHERE Sulphur Dioxide, 15 minute mean (μg/m 3 ) = 0-88"
61,What is the minimum number of wins possible for the Champ Car World Series among all the drivers?,"[Driver, AAA (1902–1955), USAC (1956–1995), CART (1979–2003), Champ Car World Series (2004–2007), IZOD IndyCar Series (1996–present), Combined Total]",SELECT COUNT Champ Car World Series FROM table WHERE Driver = a,SELECT MIN Champ Car World Series (2004–2007) FROM table
62,What is the most Champ Car wins for any driver with a USAC record of 2?,"[Driver, AAA (1902–1955), USAC (1956–1995), CART (1979–2003), Champ Car World Series (2004–2007), IZOD IndyCar Series (1996–present), Combined Total]",SELECT MIN Champ Car wins FROM table WHERE USAC (1956–199,SELECT MAX Champ Car World Series (2004–2007) FROM table WHERE USAC (1956–1995) = 2
63,How many afc titles did the Cleveland Browns have?,"[Teams With Division Titles, Division Championships, Playoff Berths, AFC Titles, Super Bowl Wins]",SELECT AFC Titles FROM table WHERE Division Titles = the Cleveland Brown,SELECT MAX AFC Titles FROM table WHERE Teams With Division Titles = Cleveland Browns
64,How many division championships did the Pittsburgh Steelers have?,"[Teams With Division Titles, Division Championships, Playoff Berths, AFC Titles, Super Bowl Wins]",SELECT Division Championships FROM table WHERE Division Titles = Pittsburgh Steelers,SELECT Division Championships FROM table WHERE Teams With Division Titles = Pittsburgh Steelers
65,How many afc titles were there when there were 2 super bowl wins?,"[Teams With Division Titles, Division Championships, Playoff Berths, AFC Titles, Super Bowl Wins]",SELECT AFC Titles FROM table WHERE Super Bowl Wins = 2,SELECT MAX AFC Titles FROM table WHERE Super Bowl Wins = 2
66,How many division title teams were in the division championships 9 times?,"[Teams With Division Titles, Division Championships, Playoff Berths, AFC Titles, Super Bowl Wins]",SELECT Division Titles FROM table WHERE Division Championships = 9,SELECT COUNT Teams With Division Titles FROM table WHERE Division Championships = 9
67,What is the highest number of division championships where playoff berths were 11?,"[Teams With Division Titles, Division Championships, Playoff Berths, AFC Titles, Super Bowl Wins]",SELECT Division Championships FROM table WHERE Playoff Berths = 11,SELECT MAX Division Championships FROM table WHERE Playoff Berths = 11

In the 1rst row, the ‘MIN’ aggregation operator may be unnecessary but the model used the wrong logical operator ‘=’ instead of ‘<’ since ‘<’ rarely appears in the labels. In the 5th row, the model used the wrong aggregation operator and misspelled the header’s name, which might be fixed by fine-tuning hyperparameters such as increasing the training epochs. In the 51rst row, the model failed to use ‘AND’ to connect condition 1 and condition 2 since most labels contain a single condition.

# Future Work
Future work to refine the model includes: 1. Tune the model using datasets with more complex query labels that incorporate window functions, subqueries, CTEs (Common Table Expression), table joins, etc. 2. Add detailed schema and data description to model inputs. 3. Use LLMs with higher capacity 4. Experiment with different combinations of hyper-parameters. 5. Use better evaluation metrics such as execution accuracy and logical form accuracy.